@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1>Candy Store</h1>
        <img src="https://i0.wp.com/togetherasfamily.com/wp-content/uploads/2017/10/leftover-halloween-candy-cookie-bars-1.jpg?ssl=1">
        <p> <a href=""  </a></p>
    </div>
